/* Reset some default styles to avoid inconsistencies across browsers */
body, h1, h2, p, ul, li, nav {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    height: 100vh; /* Set the body height to fill the viewport height */
    display: grid;
    grid-template-columns: 250px 1fr; /* Left menu takes 200px, main content takes the remaining space */
    grid-template-rows: auto 1fr auto; /* Header, main content, footer take the space they need */
}

/* Style header */
.header {
    grid-column: 1 / span 2; /* The header spans both columns */
    background-color: #333333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Style left menu */
.left-menu {
    background-color: #f2f2f2;
    padding: 10px;
}

.left-menu ul {
    list-style: none;
}

.left-menu li {
    margin-bottom: 10px;
}

.left-menu a {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 5px;
}

.left-menu a:hover {
    background-color: #6b141c;
}

/* Style main content */
.main-content {
    padding: 10px;
}

/* Style footer */
.footer {
    grid-column: 1 / span 2; /* The footer spans both columns */
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
